/*Classes*/
.formInput {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 25px;
  font-size: 15px;
  width: 97%;
  border-radius: 8px;
  border: 1px solid darkgray;
}

.formsBtn {
  font-size: 20px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
}

.submitBtn {
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding-bottom: 3px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

/*ids*/
#loginFormDiv,
#registerFormDiv {
  width: 25%;
  height: fit-content;
  height: -moz-fit-content;
  margin: auto;
  border: 1px solid black;
  padding: 0 10px 10px 10px;
  border-radius: 8px;
}

#registerLink,
#loginLink {
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  font-size: 15px;
}

#registerFormDiv {
  display: none;
}

#loginError {
  visibility: hidden;
}

/*Tags*/
ul {
  padding-inline-start: 20px;
}
