/* Classes */
.leaderboardTitleBtn {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  color: white;
  font-size: 18px;
  margin: 0 3px;
}

/* ids */
#leaderboardTable {
  width: 100%;
  margin: auto;
  border-spacing: 10px;
}

#leaderboardTable td {
  text-align: center;
}

#leaderboardDiv {
  width: 80%;
  border-radius: 8px;
  padding-right: 10px;
  padding-left: 10px;
  position: absolute;
  z-index: 999;
  background-color: white;
  left: 10%;
  height: fit-content;
  height: -moz-fit-content;
  font-family: Helvetica, sans-serif;
  margin-bottom: 20px;
  border: 1px solid black;
}
